
  <div class="col-12">

    <div class="btn btn-default">
      <%= link_to 'チャット部屋を新規作成する!!', :action => 'new' %>
    </div>

    <% @rooms.each do |room|  %>
      <div class="col-8">
        <%= link_to room.name , :action => 'show' , :id => room.id %>
      </div>
      <% if room.create_user_id === current_user.id %>
        <div class="col-4">
          <%= link_to '編集' , :action => 'edit' , :id => room.id  %>
        </div>
      <% end %>
    <% end %>
  </div>
